
body{
    font-family: "roboto", sans-serif;
    background: #252627;
    color: silver;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    padding: 0 25px 0 25px;
}
.img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    background: url(mazda.jpg);
    background-position: center;
    background-size: cover;
}
.main-title h1{
    padding: 8px 14px;
    color: black;
    letter-spacing: 3px;
    word-spacing: 10px;
    border: 3px solid #ed5565;
    font-size: 3rem;
    position: relative;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}
.sub-title{
    color: #566676;
    font-size: 20px;
}
.main-title h1:hover{
    color: #AB4567;
}
 

.landing-page{
    background: url(sky.jpg);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-position: center;
    background-size: cover;
} 
/* inside image textes */
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20%;
}
.portrait{
    margin-left: 20%;
    width: 8%;
    height: 20%;
    background: url(toyota.jpg);
    background-position: center;
    background-size: cover;
    opacity: .5;
}

.slidebar{
    position: fixed;
    left: -20%; /* content hidden */
    width: 20%;
    height: 60%;
    background: rgba(64,33,85,.9);
    transition: all .5s ease;
}
.slidebar header{
    height: 90px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgba(5,5,2,.7);
    user-select: none;
}
.slidebar header a{
    color: white;
}
.slidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid silver;
}
ul li:hover a{
    padding-left: 50px;
}
.slidebar ul a i{
    margin-right: 15px;
}
/* show hide */
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 45px;
    padding: 2px 4px;
    transition: all .5s;
}
label #cancel{
    z-index: 1000;
    left: -17%; /* hide & slide out */
    top: 17px;
    font-size: 30px;
    color: red;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .slidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 19%;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 17%;
    position: fixed;
}
/* each page */
.aboutme{
    height: 60vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.skills{
    height: 80vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.education{
    height: 80vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.work{
    height: 100vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.contact{
    height: 50vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
/* all content styling */
.aboutme h1{
    z-index: 0;
    opacity: .1;
    font-size: 8rem;
}
.sub-aboutme{
    max-width: 80%;
    background: #252627;
    padding: 50px;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    position: relative;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.sub-aboutme p{
    font-size: 1.2rem;
    color: #BEBEBE;
    text-align: justify;
}
.sub-aboutme p:last-child{
    margin-top: 30px;
}
.aboutme img{
    width: 20%;
    position: relative;
    top: -350px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
    opacity: .5;
}
/*  */
.skills h1{
    /* text-align: right; */
    opacity: .1;
    font-size: 8rem;
}
.sub-class{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.sub-class p{
    text-align: justify;
}
.sub-class p:nth-child(2){
    margin-top: 30px;
}
.sub-class p:nth-child(3){
    margin-top: 30px;
}
/* progress bars */
.progress{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 40px;
}
div[class^='tag-']{
    clip-path: polygon(75% 0%,  100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 140px;
    height: 30px;
    background: #1584B6;
    margin-right: 30px;
}
div[class^='tag-'] p {
    color: #fff;
    text-align: left;
    padding-left: 10px;
    font-size: 1.1rem;
    padding-top: 3px;
}
.progressbar{
    position: relative;
    width: 60%;
    height: 20px;
    border: 2px solid #48CFAD;
    border-radius: 20px;
    margin-top: 7px;
}
div[class^='bar-']{
    position: absolute;
    background: #48cfAD;
    height: 10px;
    border-radius: 20px;
    margin: 2.7px;
}
.bar-html, 
.bar-css, 
.bar-javascript, 
.bar-react,
.bar-node{
    width: calc(0 - 6px);
}
/*  */
.education h1{
    opacity: .1;
    font-size: 8rem;
}
.sub-education{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.sub-education p{
    text-align: justify;
}
.sub-education h2:nth-child(1){
    margin-top: 30px;
}
.sub-education h2:last-child{
    margin-top: 30px;
}
.sub-edu-p{
    margin-top: 3%;
}
.sub-edu-p1{
    margin-top: 4%;
}

 
/*  */
.work h1{
    opacity: .1;
    font-size: 8rem;
}
.sub-work{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.sub-work p{
    text-align: justify;
}
.sub-work h2:nth-child(1){
    margin-top: 30px;
}
.sub-work h2:last-child{
    margin-top: 30px;
}
.sub-work-p{
    margin-top: 3%;
}
.sub-work-p1{
    margin-top: 4%;
}

/*deployed works  */
.deployed{
    width: 50%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 22%;
    background: #252647;
    box-shadow: 3px 4px 5px black;
    margin-top: 1%;
}
h2{
    text-align: center;
}
#one,#two,#three,#four,#five{
    color: black;
}
.contact h1{
    opacity: .1;
    font-size: 8rem;
}
.sub-contact p{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
    text-align: justify;
}
.icons{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 35%;
}
#git, 
#git1,
#git2{
    font-size: 40px;
    color: #566676;
}
#git:hover, 
#git1:hover,
#git2:hover{
    font-size: 45px;
    color: #7686;
}
/*  */
form input,
form textarea{
    display: block;
    width: 450px;
    padding: 20px;
    background: #254635;
    border: 3px solid #747258;
    margin: 20px 0;
    outline: none;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
form input:last-child{
    width: 180px;
    background: #ED9475;
    border: none;
    cursor: pointer;
}
/* go up icon */
.totop {
    margin-left: 120px;
    position: fixed;
    bottom: 40px;
  }
  #totop {
    color: tomato;
    margin-left: -65px;
  }
  #totop:hover {
    color: red;
  }
/* footer */
footer hr{
    border: 2px solid #768299;
    margin-top: 70px;
}
footer p{
    text-align: center;
    color:  #768299;
    font-size: 1.1rem;
    padding: 30px 0;
}

 
/* media qury */

@media screen and (max-width: 500px) {
    body {
      width: 100%;
      height: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    label #cancel{
        z-index: 1250; 
    }
    .img{
        display: none;
    }
    .slidebar{
        left: -30%; /* content hidden */
        width: 30%;
        height: 100%;
        z-index: 1200;
    }
    ul{
        display: flex;
        flex-direction: column;

    }
    .aboutme{
        margin-bottom: 4%;
    }
    .skills{
        margin-bottom: 4%;
    }
    .education{
        margin-bottom: 4%;
    }
    .work{
        margin-bottom: 4%;
    }
    .contact{
        margin-bottom: 4%;
    }
  }