
body{
    font-family: "roboto", sans-serif;
    background: #252627;
    color: silver;
}
html{
    scroll-behavior: smooth;
}
*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
.container{
    padding: 0 25px 0 25px;
}
.img{
    height: 80px;
    width: 80px;
    border-radius: 50%;
    position: absolute;
    top: 5px;
    background: url(coding2.jpg);
    background-position: center;
    background-size: cover;
}
.main-title h1{
    padding: 8px 14px;
    color: black;
    letter-spacing: 3px;
    word-spacing: 10px;
    border: 3px solid #ed5565;
    font-size: 3rem;
    position: relative;
    overflow: hidden;
    transition: .5s;
    display: inline-block;
}
.sub-title{
    color: silver;
    font-size: 20px;
}
.main-title h1:hover{
    background: #ab24;
    color:  white;
}
 

.landing-page{
    background: url(sky.jpg);
    width: 100%;
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background-position: center;
    background-size: cover;
} 
/* inside image textes */
.title{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 20%;
}
/* .portrait{
    margin-left: 20%;
    width: 8%;
    height: 20%;
    background: url(coding2.jpg.jpg);
    background-position: center;
    background-size: cover;
    opacity: .5;
} */

.slidebar{
    position: fixed;
    left: -20%; /* content hidden */
    width: 20%;
    height: 60%;
    background: rgba(64,33,85,.9);
    transition: all .5s ease;
    z-index: 1200;
}
.slidebar header{
    height: 90px;
    font-size: 22px;
    color: white;
    text-align: center;
    line-height: 70px;
    background: rgba(5,5,2,.7);
    user-select: none;
}
.slidebar header a{
    color: white;
}
.slidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-top: 1px solid rgba(255,255,255,.1);
    border-bottom: 1px solid silver;
}
ul li:hover a{
    padding-left: 50px;
}
.slidebar ul a i{
    margin-right: 15px;
}
/* show hide */
#check{
    display: none;
}
label #btn, label #cancel{
    position: absolute;
    cursor: pointer;
}
label #btn{
    left: 40px;
    top: 25px;
    font-size: 45px;
    padding: 2px 4px;
    transition: all .5s;
}
label #cancel{
    z-index: 1250;
    left: -12%; /* hide & slide out */
    top: 17px;
    font-size: 30px;
    color: red;
    padding: 4px 9px;
    transition: all .5s ease;
}
#check:checked ~ .slidebar{
    left: 0;
}
#check:checked ~ label #btn{
    left: 19%;
    opacity: 0;
    pointer-events: none;
}
#check:checked ~ label #cancel{
    left: 17%;
    position: fixed;
}
/* each page */
.aboutme{
    height: 60vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.skills{
    height: 80vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.education{
    height: 80vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.work{
    height: 100vh;
    margin-top: 1%;
    width: 100%;
    margin-bottom: 6%;
}
.contact{
    height: 50vh;
    margin-top: 2%;
    width: 100%;
    margin-bottom: 4%;
}
/* all content styling */
.aboutme h1{
    z-index: 0;
    opacity: .1;
    font-size: 8rem;
}
.sub-aboutme{
    max-width: 80%;
    background: #252627;
    padding: 50px;
    box-shadow: 0 0 1.2rem rgba(0,0,0,.25);
    position: relative;
    top: 0px;
    left: 50%;
    right: 50%;
    transform: translate(-50%);
    z-index: 1;
}
.sub-aboutme p{
    font-size: 1.2rem;
    color: #BEBEBE;
    text-align: justify;
}
.sub-aboutme p:last-child{
    margin-top: 30px;
}
.aboutme img{
    width: 18%;
    position: relative;
    top: -340px;
    left: calc(100% - 100px);
    right: calc(100% - 100px);
    transform: translateX(calc(-100% + 100px));
    opacity: .4;
}
/*  */
.skills h1{
    /* text-align: right; */
    opacity: .1;
    font-size: 8rem;
}
.sub-class{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.sub-class p{
    text-align: justify;
}
.sub-class p:nth-child(2){
    margin-top: 30px;
}
.sub-class p:nth-child(3){
    margin-top: 30px;
}

.mySkills{
    width: 80%;
    margin: 60px auto;
    color: silver;
}
.mySkills li{
    margin: 20px 0;
    margin-top: 7px;
}
.mySkills li h2{
    clip-path: polygon(75% 0%,  100% 50%, 75% 100%, 0% 100%, 0% 50%, 0% 0%);
    width: 160px;
    height: 30px;
    background: #1584B6;
    margin-right: 30px;
}
.bar{
    background: #353b48;
    display: block;
    height: 4px;
    border: 1px solid rgba(0,0,0,.3);
    border-radius: 3px;
    overflow: hidden;
    box-shadow: 0 0 5px #2187e7b3;
}
.bar span{
    height: 4px;
    float: left;
    background: #2187e7;
}
/* animation part */
.html{
    width: 95%;
    animation: html 15s infinite;
}
.css{
    width: 90%;
    animation: css 15s infinite;
}
.js{
    width: 70%;
    animation: js 15s infinite;
}
.react{
    width: 70%;
    animation: react 15s infinite;
}
.node{
    width: 75%;
    animation: node 15s infinite;
}
/* animation in action */
@keyframes html{
    0%{
        width: 0%;
    } 100%{
        width: 95%;
    }
}
@keyframes css{
    0%{
        width: 0%;
    } 100%{
        width: 90%;
    }
}
@keyframes js{
    0%{
        width: 0%;
    } 100%{
        width: 70%;
    }
}
@keyframes react{
    0%{
        width: 0%;
    } 100%{
        width: 70%;
    }
}
@keyframes node{
    0%{
        width: 0%;
    } 100%{
        width: 75%;
    }
}

/*  */
.education h1{
    opacity: .1;
    font-size: 8rem;
}
.sub-education{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.sub-education p{
    text-align: justify;
}
.sub-education h2:nth-child(1){
    margin-top: 30px;
}
.sub-education h2:last-child{
    margin-top: 30px;
}
.sub-edu-p{
    margin-top: 3%;
}
.sub-edu-p1{
    margin-top: 4%;
}
 
/*  */
.work h1{
    opacity: .1;
    font-size: 8rem;
}
.sub-work{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
}
.sub-work p{
    text-align: justify;
}
.sub-work h2:nth-child(1){
    margin-top: 30px;
}
.sub-work h2:last-child{
    margin-top: 30px;
}
.sub-work-p{
    margin-top: 3%;
}
.sub-work-p1{
    margin-top: 4%;
}

/*deployed works  */
.deployed{
    width: 55%;
    min-height: 250px;
    /* min-height: 39%; */
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20%;
    background: #252647;
    box-shadow: 3px 4px 5px black;
   /*  //margin-top: 1%; */
}
h2{
    text-align: center;
}
#one,#two,#three,#four,#five{
    color: black;
}
/* deployed links */
.li, .li1, .li2, .li3, .li4{
    min-width: 50%;
    min-height: 35px;
    background: #566676;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.contact h1{
    opacity: .1;
    font-size: 8rem;
    padding-top: 6%; 
}
.sub-contact p{
    font-size: 1.2rem;
    color: #BEBEBE;
    max-width: 80%;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
    text-align: center;
    margin-bottom: 50px;
    text-align: justify;
}
.icons{
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 35%;
}
#git, 
#git1,
#git2{
    font-size: 40px;
    color: #566676;
}
#git:hover, 
#git1:hover,
#git2:hover{
    font-size: 45px;
    color: #7686;
}
/*link & plus styled deploys*/
#p, #p1, #p2, #p3, #p4{
    display: none;
}

form input,
form textarea{
    display: block;
    width: 450px;
    padding: 20px;
    background: #254635;
    border: 3px solid #747258;
    margin: 20px 0;
    outline: none;
    font-size: 1.1rem;
    color: #fff;
    position: relative;
    left: 50%;
    right: 50%;
    transform: translateX(-50%);
}
form input:last-child{
    width: 180px;
    background: #ED9475;
    border: none;
    cursor: pointer;
}
/* go up icon */
.totop {
    margin-left: 120px;
    position: fixed;
    bottom: 40px;
  }
  #totop {
    color: tomato;
    margin-left: -65px;
  }
  #totop:hover {
    color: red;
  }
/* footer */
footer hr{
    border: 2px solid #768299;
    margin-top: 70px;
}
footer p{
    text-align: center;
    color:  #768299;
    font-size: 1.1rem;
    padding: 30px 0;
}

 
/* media qury */

@media (max-width:900px) and (min-width:300px) {
    body {
      width: 100%;
      height: 100%;
    }
    header{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
     
    .img{
        display: none;
    }
    .slidebar{
        left: -35%;  /*content hidden */
        width: 35%;
        min-height: 50vh;
        z-index: 1200;
    }
    ul{
        display: flex;
        flex-direction: column;
    }
    .container{
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
    } 
    .title{
        max-width: 30%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .main-title{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .sub-title h4{
        color: green;
    }
    .main-title h1{
        font-size: 20px;
    }
    .main-title:hover{
        background:#ab24;
        color:  white;
    }
    .aboutme{
        width: 95%;
        height: 100%;
        margin-left: 2.5%;
    }
    .sub-aboutme{
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 900;
    }
    .aboutme img{
        width: 18%;
        position: relative;
        top: -490px;
        left: calc(100% - 100px);
        right: calc(100% - 100px);
        transform: translateX(calc(-100% + 100px));
        opacity: .4;
    }
    .skills{
        max-width: 95%;
        height: 100%;
        margin-left: 2.5%;
       /*  margin-top: 40%; */
    }
    .education{
        max-width: 95%;
        height: 100%;
        margin-left: 2.5%;
    }
    .work{
        max-width: 95%;
        height: 100%;
        margin-left: 2.5%;
        /* margin-top: 90%; */
    }
    .contact{
        max-width: 95%;
        height: 60%;
        margin-left: 2.5%;
       margin-top: 2%;
    }
    .icons{
        width: 200px;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }
    .totop {
        margin-left: 120px;
        position: fixed;
        bottom: 40px;
      }
    .deployed{
        width: 70%;
        min-height: 300px;
        margin-left: 15%;
    }
    .deployed li{
        width: 80%;
    }
    .deployed .li:hover, .li1:hover, .li2:hover, .li3:hover, .li4:hover{
        background: #253147;
        border-radius: 15px 15px 15px 15px;
    }  
    /* deployed works box */
    .li, .li1, .li2, .li3, .li4{
        min-width: 50%;
        min-height: 50px;
        background: #566676;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        border-bottom: 3px solid black;
        padding: 2% 1%;
    }
  }